﻿@model Wala.Models.FlickrModel
@{
    ViewBag.Title = "Index";
}
@section Scripts
{
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
}
<div class="jumbotron">
@if (Model.Token == null)
{  
<h1>Connect with Flickr</h1>
<a href=@Model.LoginUrl class="btn btn-primary btn-lg">Login to Flickr service</a><br /> 
}
else
{
	<h1>Sync photos with Flickr</h1>
    <p>You are now connected with Flickr</p>
    <p><strong>Frob: </strong>@Model.Frob</p>
    <p><strong>Token: </strong>@Model.Token</p>        
	<button type="button" id="syncButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Synchronize Photos</button>   
}
</div>
<template id='progress'>
<div class="progress progress-striped active">
  <div class="progress-bar" style="width: 100%"></div>
</div>
</template>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Synchronizing Flickr Photos</h4>
      </div>
      <div class="modal-body">		     
        <p><ul id="syncText" class="list-group">
	        <li id='foundPhotos' class='list-group-item'>Photos on your flickr account</li>
	        <li id='newPhotos' class='list-group-item'>New photos</li>
	        <li id='updatedPhotos' class='list-group-item'>Updated photos</li>
	        <li id='removedPhotos' class='list-group-item'>Removed photos from your Wala Account</li>
	        <li id='persistPhotos' class='list-group-item'>Storing photo</li>
        </ul></p>
        <div class="progress progress-striped active">
		  <div class="progress-bar" style="width: 100%"></div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
	
	function setProgress(progress){
		$(".progress-bar").css('width', progress + '%');
	}
	
	$("#syncButton").click(function(){
		var counter = 1;
		$(".modal-title").html("Acquiring a list of the photos on your Flickr account");	
		$("#foundPhotos").toggleClass("active");			
		$.when(LoadPhotoListFromFlickr()).done(function(flickrPhotos){	
			$("#foundPhotos").toggleClass("active");	
			$("#foundPhotos").append("<span class='badge'>"+flickrPhotos.length+ "</span>");
			
			$("#newPhotos").toggleClass("active");
			$(".modal-title").html("Searching for new photos on your Flickr account");
			$.when(FindNewPhotos(flickrPhotos)).done(function(photosNotInDB){
				$("#newPhotos").toggleClass("active");
				$("#newPhotos").append("<span class='badge'>"+photosNotInDB.length+ "</span>");
				
				$("#updatedPhotos").toggleClass("active");
				$(".modal-title").html("Synchronizing Flickr metadata with your Wala account");
				$.when(UpdateRecords(flickrPhotos)).done(function(updatedPhotos){
					$("#updatedPhotos").toggleClass("active");
					$("#updatedPhotos").append("<span class='badge'>"+updatedPhotos.length+ "</span>");
					
					$("#removedPhotos").toggleClass("active");
					$(".modal-title").html("Searching for photos to delete on your Wala account");
					$.when(DeleteObsoletePhotos(flickrPhotos)).done(function(deletedPhotos){
						$("#removedPhotos").toggleClass("active");
						$("#removedPhotos").append("<span class='badge'>"+deletedPhotos.length+ "</span>");
						
						$("#persistPhotos").append("<span id='persisting' class='badge'>"+0+ "</span>");
						if(photosNotInDB.length != 0 )
						{
							$(".modal-title").html("Starting to sync photos to your Wala Account");
							$("#persistPhotos").toggleClass("active");
						}
						$.each(photosNotInDB, function(index, photo){
							$.when(PersistPhoto(photo)).done(function(persistedPhoto){
								$("#persisting").text(counter + " / " + photosNotInDB.length);
								if(counter >= photosNotInDB.length){
									$("#persisting").text(counter); //DONE persisting
									$("#persistPhotos").toggleClass("active");
									$(".progress").toggleClass('active');
                                }
                                setProgress(((counter/photosNotInDB.length)*100));
                                counter++;
							});
						});
					});
				});
			});
		});	
	});
	
	function LoadPhotoListFromFlickr(){
		return $.ajax({
			url : '@Url.Action("DownloadAllFlickrPhotos", "Flickr")',
            type : "GET",
            dataType : "json",
            cache : false,
            data : { token:'@Model.Token', privacy:0 }
		});
	};
	
	function FindNewPhotos(photos){
		return $.ajax({
			url: '@Url.Action("FindPhotosNotInDatabase", "Flickr")',
            type: "POST",
            dataType: "json",
            cache: false,
            data: { 'photos' : photos}	
		});
	};
	
	function UpdateRecords(flickrPhotos){
		return $.ajax({
			url : '@Url.Action("UpdateRecords", "Flickr")',
            type : "POST",
            dataType : "json",
            cache : false,
            data : { 'photos': flickrPhotos }
		});
	};
	
	function DeleteObsoletePhotos(flickrPhotos){
		return $.ajax({
			url: '@Url.Action("DeletePhotos", "Flickr")',
            type: "DELETE",
            dataType: "json",
            cache: false,
            data: { 'photos' : flickrPhotos}		
		});
	};
	
	function PersistPhoto(photo){
        return $.ajax({
	            url : '@Url.Action("PersistPhoto", "Flickr")',
	            type : "POST",
	            dataType : "json",
	            cache : false,
	            data : { 'token': '@Model.Token', 'photo':photo }
        });
    };
    
    var $photos;
    var $newPhotos;

    $("#persist").click(function (){
        var counter = 1;
        $.each($newPhotos, function(index, photo){
            $.ajax({
                url: '@Url.Action("Persist", "Flickr")',
                type: "POST",
                dataType: "json",
                cache: false,
                data: { 'token': '@Model.Token' , 'photo' : photo},
                success: function (img) {
                    $("#persisted").html("<strong>Persisted " + img.Title + " : " + counter + "/" + $newPhotos.length + " to database successfully</strong>");
                    counter++;
                }
            });
        });

    });

    $("#flickrloader").click(function () {
        $.ajax({
            url : '@Url.Action("DownloadAllFlickrPhotos", "Flickr")',
            type : "GET",
            dataType : "json",
            cache : false,
            data : { token:'@Model.Token', privacy:0 },
            success : function(photos){
                $photos = photos;
                $("#flickrInfo").append("<br /><strong>Number of Photos found: </strong>" + $photos.length);
                $("#findNotInDb").removeAttr("disabled");
                $("#update").removeAttr("disabled");
            }
        });
    });

    $("#findNotInDb").click(function () {
        $.ajax({
            url: '@Url.Action("FindPhotosNotInDatabase", "Flickr")',
            type: "POST",
            dataType: "json",
            cache: false,
            data: { 'photos' : $photos},
            success: function (photos) {
                $("#flickrInfo").append("<br /><strong>Number of new Photos found: </strong>" + photos.length);
                $newPhotos = photos;
                $("#persist").removeAttr("disabled");
            }
        });
    });

    $("#update").click(function(){
        var updated;
        $.ajax({
            url : '@Url.Action("UpdateRecords", "Flickr")',
            type : "POST",
            dataType : "json",
            cache : false,
            data : { 'photos': $photos },
            success : function(img){
                $("#Updated_Records").html("Updated " + img.length);
            }
        });
    });

    function GetUserIdentity(){
        $.ajax({
            url : '@Url.Action("GetUserIdentity", "Flickr")',
            type: "GET",
            dataType: "json",
            cache: false,
            async: false,
            success: function(userID){
                return userID;
            }
        })
    };
</script>