﻿
@{
    ViewBag.Title = "Moments";
}
@section Scripts
{
	<script src="@Url.Content("https://rawgit.com/kombai/freewall/master/freewall.js")"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
	<style type="text/css">
	    a.fancybox img {
	        border: none;
	        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	        -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
	    } 
	    	a.fancybox:hover img {
	        position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
	    }
	    
	    #container .item{
		    display: inline;
	    }
	    .item{
		  	box-shadow: 0 0 10px #777777;		  
	  	}
	  	li{
		  	display: inline;
	  	}
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
}

<h2 id='moments'>On this day in your journey</h2>

<div id="container">
    <ul id="years" class="year">
        
    </ul>		
</div>

<template id="photos-url-template">
	    <img style='width:{width}px;' class="item" src="https://farm{{Farm}}.staticflickr.com/{{Server}}/{{ID}}_{{Secret}}.jpg" data-big="https://farm{{Farm}}.staticflickr.com/{{Server}}/{{ID}}_{{Secret}}_b.jpg" title="{{Title}}"/>
</template>

<script>
    var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
    
    $(document).ready(function () {
            var date = new Date();
            var filter = "?$filter=month(OriginalDate)%20eq%20" + (date.getMonth() +1) + "%20and%20" + "day(OriginalDate)%20eq%20" + date.getDate();
            filter += "&?orderby=OriginalDate";
            $.ajax({
                url: "/odata/Photos" + filter,
                type: "GET",
                success: function (photos) {
                    var $photoTemplate = $('#photos-url-template').html();
                    if(photos.value.length == 0)
                        $("#container").text("No photos taken today :(");
                    else{
                        $.each(photos.value, function (index, photo) {
                            var tmp = Mustache.render($photoTemplate, photo);
                            var width = 150 * (1 + 3 * Math.random() << 0);
                            var html ="";
							html += tmp
							.replace('{index}', index)
							.replace(/\{width\}/g, width);
							var photoYear = new Date(photo.OriginalDate);
                           var currentYear = photoYear.getFullYear();
                           if($( "#" + currentYear ).length)
                           {
	                           $("#" + currentYear).append("<li>" + html + "</li>");
                           }
                           else
                           {
	                           $("#years").append("<ul id='" + currentYear +"'>" + currentYear + "</ul>");
	                           $("#" + currentYear).append("<li class='item'>" + html + "</li>");
                           }					       					    
                    })
             }   
            }
            });
        });
</script>