﻿@{
    ViewBag.Title = "Photo";
}

@section Scripts
{
  	<script src="@Url.Content("https://rawgit.com/kombai/freewall/master/freewall.js")"></script>
  	<style type="text/css">
	  	
	  	#container{
		  	margin:15px;
		  	position: relative;
	  	}
      /*
	  	.item{
		  	box-shadow: 0 0 10px #777777;
		  	visibility: visible;			  
	  	}
	  	.item-hidden{
		  	visibility: hidden;
	  	}
      
      .item img{
		  	margin: 0;
			display: block;
	  	}
	  	
	  	.info{
		  	display: none;
		  	z-index: 1;
		  	width: 100%;
		    height: 100%;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    background-image: linear-gradient(rgba(255,0,0,0) 0%, rgba(255,0,0,0) 71.7%, rgba(0,0,0,0.64) 100%);
		    color:white;
	  	}	
	  	  	
	  	.item:hover > .info{
		  	display: block;
	  	}
	  	
	  	.item .info:active{
		  	display: block;
	  	}*/
      
      #exif-camera{
        list-style-image: url('/./images/photo/camera-icon.png');
      }
      #exif-lens{
        list-style-image: url('/./images/photo/lens-icon.png');
      }
      #exif-aperture{
        list-style-image: url('/./images/photo/aperture-icon.png');
      }
      #exif-exposure{
        list-style-image: url('/./images/photo/exposure-icon.png');
      }
      
	  	.photo{
		  	box-shadow: 0 0 10px #777777;
		  	visibility: visible;	
		  	margin: 0;	  
        position: relative;
	  	}
	  	#container > img:hover{
		  	cursor: hand; 
		  	cursor: pointer;
	  	}
      
      .info_button{
          background-image: url("/./Images/icon_info_darkblue.png");
          display: none;
          background-size: 25px 25px;
          background-repeat: no-repeat;
          height: 25px;
          width: 25px;
          background-color: transparent;
          border: none;
          cursor:pointer;
          overflow: hidden; 
          position: absolute; 
          bottom: 0;
          right: 0;
          z-index: 10;      
      }
      .photo:hover > .info_button{
        display:block;
      }
	</style>
}

<h2>Photo</h2>
<button type="button" id="load" class="btn btn-default">Load 10 more</button>
<div id="container">		
</div>

<template id="flickr-uri">
	https://www.flickr.com/photos/{{Owner}}/{{ID}}/
</template>

<template id="photo-uri">
	https://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_{{size}}.jpg
</template>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Photo information</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<template id="exif-template">
  <div id="photo_info">
    <img src="{{src}}"/>
    <ul id="exif_info">
      <li id="exif-title" class="exif info">Title <span>{{title}}</span></li>
      <li id="exif-camera" class="exif info">Camera <span>{{make}} {{model}}</span></li>
      <li id="exif-lens" class="exif info">Lens info <span>{{lensModel}}</span></li>  
      <li class="exif info">Focal Length <span>{{focal}}</span></li>  
      <li id="exif-aperture" class="exif info">Aperture <span>{{aperture}}</span></li>  
      <li id="exif-exposure" class="exif info">Exposure <span>{{exposure}}</span></li>
      <li class="exif info">ISO <span>{{iso}}</span></li>
      <li class="exif info">Date <span>{{originaldate}}</span></li>   
    </ul>
  </div>
</template>

<template id="imageRender">
  <div class="photo" style="width:{{width}}px">
    <img src="{{src}}" width="100%"/>
  </div>
</template>

<script>
    var filter = "?$orderby=OriginalDate%20desc";
    var urlNext = "/odata/Photos" + filter;	
    
    $(function(){
  		$("#load").click(function(){
  			DownloadPhotos();
  		});
    });
    
    var wall = new freewall("#container");
        wall.reset({
			selector: '.photo',
			animate: false,
			cellW: 240,
			cellH: 'auto',
			onResize: function() {
					wall.fitWidth();
			}
		});
    
    function LoadPhoto(url){
		return $.ajax({
                url: url,
                type: "GET"
        });   
    }
    
    $.fn.image = function(src, f) {
    	  return this.each(function() {
    	    var i = new Image();
    	    i.onload = f;
    	    i.src = src;	    
    	  });
    }
        
    var loading = false;
    var images = [];
    var traveler = 0;
    
    function AddPhotos(){
	    
		    traveler = images.length/2;
		    
		    for(var i = 0; i < traveler; traveler--)
		    {
  				wall.appendBlock(images[i]);				
			    images.splice(i,1);
			  }
			wall.fitWidth();	    
    }
    
    function RenderPhotoURI(photo, size){
     return Mustache.render($('#photo-uri').html(), {
                farm : photo.Farm,
                server: photo.Server,
                id: photo.ID,
                secret: photo.Secret,
                size : size
              });
    }
    
    function RenderPhotoExifDialog(photo)
    {
      $("#photo_info").remove();
      $.when(GetPhotoExif(photo.DatabaseID)).done(function(exif){
        console.log(exif);
        var renderedPhoto = {
          title: photo.title,
          camera: photo.camera,
          src: RenderPhotoURI(photo, "c")
        };
        $.each(exif.value, function(index, value){
          if(Contains(value.Label, "ISO"))
            renderedPhoto.iso = value.Raw;
          if(Contains(value.Label, "Exposure"))
            renderedPhoto.exposure = value.Raw;
          if(Contains(value.Label, "Aperture"))
            renderedPhoto.aperture = value.Raw;
          if(Contains(value.Label, "Date and Time (Original)"))
            renderedPhoto.originaldate = value.Raw;
          if(Contains(value.Label, "Focal Length"))
            renderedPhoto.focal = value.Raw;
          if(Contains(value.Label, "Lens Model") || value.Label == " Lens")
            renderedPhoto.lensModel = value.Raw;
          if(value.Label == " Model")
            renderedPhoto.model = value.Raw;
          if(value.Label == " Make")
            renderedPhoto.make = value.Raw;
        });      
        var template = Mustache.render($("#exif-template").html(), renderedPhoto);
        $(".modal-body").append(template);
      });
    }
    
function Contains(streng, search)
{
  return streng.indexOf(search) > -1 ? true: false;
	//return streng.match(new RegExp(search, "gi")).length > 0 ? true : false;
}
    
    function GetPhotoExif(id)
    {
      var url = "/odata/Photos(" + id + ")/Exif";
      var filter = "?$select=Label,Raw&$filter=(";
      filter += "(endswith(Label, 'ISO Speed') eq true) or ";
      filter += "(endswith(Label, 'Exposure') eq true) or ";
      filter += "(endswith(Label, 'Aperture') eq true) or ";
      filter += "(endswith(Label, 'Date and Time (Original)') eq true) or ";
      filter += "(Label eq ' Model') or ";
      filter += "(Label eq ' Make') or ";
      filter += "(endswith(Label, ' Lens') eq true) or ";
      filter += "(endswith(Label, 'Lens Model') eq true) or ";
      filter += "(endswith(Label, 'Focal Length') eq true)";
      filter += ")";
      url += filter;
      
      return $.ajax({
        url: url,
        type: "GET"
      });
    }
    
    function DownloadPhotos(){  
		if(urlNext != null){
		    if(!loading){
			    loading = false;
			    var counter = 0;
			    $.when(LoadPhoto(urlNext)).done(function(photos){
					urlNext = photos["odata.nextLink"];
					$.each(photos.value, function (index, photo) {			
            					
				    	$("div#container").image(RenderPhotoURI(photo, "n"), function(){
                //legg til div header  
					    	//$(this).click(function(){
                  
						    	//OpenPhoto(photo)
					    	//});
							var temp = '<div class="photo" style="width:{width}px"><img src="{url}" width="100%"/></div>';
      				var html = temp.replace(/\{width\}/g, this.width).replace(/\{url\}/g, this.src);
              html = Mustache.render($("#imageRender").html(), this);
              var div = $(html);
              var button = $('<button/>',
              {
                class : 'info_button',
                click: function(){
                  RenderPhotoExifDialog(photo);
                }
              }).attr('data-toggle', 'modal').attr('data-target', '#myModal');
              
              
              $(div).append(button);
              
							images.push(div);
						  counter ++;
							if(counter >= photos.value.length)
	    						loading = false;
	    				});	    					
					});	
				});					
			};
		}
		if(images.length > 0){
			AddPhotos();			
		}		
	};
	
	function OpenPhoto(photo)
	{
		window.open(Mustache.render($("#flickr-uri").html(), photo), '_blank');
	}
    
    $(document).ready(function () {
       DownloadPhotos();
    });    
    
    $(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() > $(document).height() - 700) {
	       DownloadPhotos();
	   }
	});
</script>