﻿@{
    ViewBag.Title = "About";
}

@section Scripts
{
  	<link rel="stylesheet" type="text/css" href='../../Content/flipclock.css'>
  	<script src="../../Scripts/flipclock.min.js"></script>
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="counter"></div>
<div id="output"></div>
<button type="button" onclick="buttonClick()">Use your ticket!!</button>
<script>
	var clock = $('.counter').FlipClock(59, {
		clockFace: 'Counter'
	});

	setTimeout(function() {
		setInterval(function() {
			clock.decrement();
		}, 1000);
	});
	
	function buttonClick(){
		clock.setTime(59);
		clock.start();
	};
	
	var time;
	clock.start(function(){
		time = clock.getTime();
		if(time.time == 0){
			$("#output").html("WINNER: " + time);
			clock.stop();
		}
		else
			$("#output").html("TIME LEFT: " + time);
	});
</script>