﻿@using Wala.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    @*<div class="col-md-8">
        <section id="loginform">
    @using (html.beginform("login", "account", new { returnurl = viewbag.returnurl }, formmethod.post, new { @class = "form-horizontal", role = "form" }))
    {
        @html.antiforgerytoken()
        <h4>use a local account to log in.</h4>
        <hr />
        @html.validationsummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @html.labelfor(m => m.email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @html.textboxfor(m => m.email, new { @class = "form-control" })
                @html.validationmessagefor(m => m.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @html.labelfor(m => m.password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @html.passwordfor(m => m.password, new { @class = "form-control" })
                @html.validationmessagefor(m => m.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @html.checkboxfor(m => m.rememberme)
                    @html.labelfor(m => m.rememberme)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="log in" class="btn btn-default" />
            </div>
        </div>
        <p>
            @html.actionlink("register as a new user", "register")
        </p>
        @* enable this once you have account confirmation enabled for password reset functionality
            <p>
                @html.actionlink("forgot your password?", "forgotpassword")
            </p>
            }
        </section>
    </div>*@
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}